# Server
PORT=3001

# Database
DATABASE_URL="postgresql://user:password@localhost:5432/arca?schema=public"

# AFIP Configuration
AFIP_CUIT=20123456789
AFIP_CERT_PATH=./certs/cert.crt
AFIP_KEY_PATH=./certs/key.key
AFIP_PUNTO_VENTA=1
AFIP_PRODUCTION=false
